<!-- NAVBAR -->
<nav class="navbar">
	<div class="navbar-container">
		<!-- Logo/Brand -->
		<div class="navbar-brand">
			<a href="index.html" class="logo">
				<span class="logo-icon">💊</span>
				<span class="logo-text">Farmácia</span>
			</a>
		</div>

		<!-- Menu Links -->
		<ul class="navbar-menu">
			<li class="nav-item">
				<a href="catalogo.html" class="nav-link">Catálogo</a>
			</li>
			<li class="nav-item">
				<a href="receita.html" class="nav-link">Receita</a>
			</li>
			<li class="nav-item">
				<a href="estoque.html" class="nav-link">Estoque</a>
			</li>
			<li class="nav-item">
				<a href="carrinho.html" class="nav-link cart-item">
					<i class="fa-solid fa-cart-shopping"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
